.card img{
    border-radius: 50%;
    padding: 10px;
    height: 70px;
}
.card {
    display: flex;
    margin-left: 45px;
   }
.nameage p{
  font-size: 15px;
  font-weight: 600;
  margin-top: -20px;
  margin-left: 25px;
}
.nameage h3{
    margin-left: 15px;
}